/* Responsive */

@media (max-width: 991px) {
	.logo {
		width: 150px;
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.sticky .logo {
		width: 150px;
		position: absolute;
	}

	.nav_holder {
		padding: 10px 0;
	}

	.hdr_menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		max-width: 400px;
		transform: translateX(-100%);
		background: #fff;
		overflow-y: auto;
		transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
		padding: 10px 15px 20px;
		z-index: 99;
	}

	.hdr_menu ul {
		padding-top: 50px;
	}

	.hdr_menu ul li {
		width: 100%;
		transition: all 0.4s ease-in-out;
		margin-bottom: 15px;
	}

	.hdr_menu ul li.menu-item-has-children .sub-menu {
		display: block;
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		padding: 0px 10px 0;
		background-color: transparent;
		box-shadow: none;
		transform: none;
		transition: initial !important;
		-webkit-transition: initial !important;
	}

	.hdr_menu ul li.menu-item-has-children ul li {
		padding: 5px 0;
		line-height: 1.5;
	}

	.hdr_menu li {
		margin-right: 0;
		padding-right: 0;
		border: 0;
		margin-bottom: 0px;
	}

	.hdr_menu li a {
		font-size: 20px;
		font-weight: 400;
		display: block;
		color: #000000;
		padding: 5px 0;
	}

	.hdr_menu li a:hover {
		color: #688238 !important;
	}

	.hdr_menu li a::before {
		display: none;
	}

	.hdr_menu li:hover a {
		color: #000000 !important;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a {
		color: #000;
		font-size: 15px;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a:hover {
		color: #688238;
		padding-left: 0;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a {
		color: #688238;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a:hover {
		color: #688238;
	}

	.hdr_menu li > a::after {
		display: none;
	}

	.sticky .hdr_menu li.current-menu-item a {
		color: #688238;
	}

	.sticky .hdr_menu li:hover a {
		color: #688238;
	}

	.sticky .hdr_menu li a {
		color: #000000;
		background-color: transparent;
	}

	.menu_btn {
		width: 20px;
		display: block;
	}

	.menu_btn span {
		height: 2px;
		display: block;
		background: #000000;
		margin-left: auto;
		transition: 0.4s;
	}

	.menu_btn span:nth-child(2) {
		width: 100%;
	}

	.menu_btn span + span {
		margin-top: 5px;
	}

	.menu_trigger {
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);
	}

	.mobile_menu_active {
		overflow: hidden;
	}

	.mobile_menu_active .menu_trigger {
		right: auto;
		left: 360px;
		top: 25px;
		transform: none;
		position: absolute;
	}

	.mobile_menu_active .hdr_menu {
		transform: translateX(0px);
	}

	.mobile_menu_active .overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 30;
	}

	.mobile_menu_active .menu_btn span {
		background: #000000;
	}

	.mobile_menu_active .menu_btn span:first-child {
		transform: rotate(45deg);
	}

	.mobile_menu_active .menu_btn span:last-child {
		transform: rotate(-45deg);
	}

	.mobile_menu_active .menu_btn span:nth-child(2) {
		display: none;
	}

	.mobile_menu_active .menu_btn span + span {
		margin-top: -2px;
		width: 100%;
	}

	.mobile_menu_active .hddr_inr {
		position: static;
	}

	.mobile_menu_active .sticky .nav_holder {
		position: fixed;
	}

	.mobile_menu_active .nav_inr {
		position: static;
	}

	.overlay {
		overflow: hidden;
	}

	.nav_inr {
		position: relative;
	}

	.sub_menu_opener {
		display: block;
		pointer-events: none;
	}

	.hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a {
		padding-left: 0;
	}
	.responsive-menu-additional-components {
		display: none !important;
	}
	.sale-countdown-banner-wrapper .banner-media {
		height: calc(100vh - 83px);
	}
	.sale-end-banner-wrapper .coundwon-data-outer h1 {
		font-size: 80px;
	}
	.coundwon-data-outer h2 {
		font-size: 90px;
	}
	.toy-information-data,
	.the-travel-data,
	.unique-color-data {
		max-width: 330px;
	}
	.toy-information-data .title h2,
	.the-travel-data h2,
	.unique-color-data h2 {
		font-size: 38px;
	}
}

@media (max-width: 767px) {
	.header-action-item .item:nth-child(1),
	.header-action-item .item:nth-child(2) {
		display: none;
	}
	.logo {
		width: 100px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.shop-btn-holder {
		gap: 0 8px;
	}
	.coundwon-data-outer h2 {
		font-size: 48px;
	}
	.coundwon-data-outer p {
		font-size: 20px;
	}
	.banner-newsletter-outer {
		padding: 0 15px;
		margin-top: 40px;
	}
	.banner-newsletter-outer .submit-field .btn {
		font-size: 15px;
		padding: 0 20px;
		display: flex;
		align-items: center;
	}
	.banner-newsletter-outer .terms-data p {
		text-align: center;
	}
	.sale-countdown-banner-wrapper .banner-media {
		height: calc(100vh - 46px);
	}
	.banner-content-outer {
		bottom: auto;
		top: 50%;
		transform: translateY(-50%);
	}
	.hdr_menu {
		max-width: 100%;
	}
	.mobile_menu_active .menu_trigger {
		right: auto;
		left: 20px;
		top: 43px;
	}
	.responisve-logo {
		display: block !important;
		margin-top: 20px;
		max-width: 150px;
		margin-left: auto;
	}
	.sale-end-banner-wrapper .coundwon-data-outer h1 {
		font-size: 60px;
	}
	.sale-end-banner-wrapper .banner-media {
		height: 430px;
	}
	.toy-information-wrapper .toy-media,
	.the-travel-wrapper .the-travel-media,
	.unique-color-wrapper .unique-color-media {
		position: static;
		width: 100%;
	}
	.toy-information-wrapper .toy-media img,
	.the-travel-wrapper .the-travel-media img,
	.unique-color-wrapper .unique-color-media img {
		position: static;
	}
	.toy-information-data,
	.the-travel-data,
	.unique-color-data {
		max-width: 100%;
		padding: 30px 0;
	}
	.toy-information-data .title h2,
	.the-travel-data h2,
	.unique-color-data h2 {
		font-size: 48px;
	}
	.toy-information-data .price p {
		margin: 20px 0;
	}
	.toy-meta-data li {
		justify-content: flex-start;
		gap: 0 4px;
	}
	.toy-meta-data li span {
		text-align: left;
	}
	.toy-meta-data {
		margin-bottom: 40px;
	}
	.toy-additional-notes p {
		text-align: center;
	}
	.toy-information-data .register-btn {
		text-align: center;
	}
	.the-travel-data {
		padding: 70px 0;
	}
	.how-it-works-wrapper {
		padding: 70px 0;
	}
	.how-it-works-wrapper .section-heading h2 {
		font-size: 22px;
	}
	.draw-process-card {
		padding-right: 0;
	}
	.how-it-works-wrapper [class*="col-"]:not(:last-child) {
		margin-bottom: 70px;
	}
	.footer-top-row {
		flex-direction: column-reverse;
		gap: 35px 0;
		text-align: center;
	}
	.footer-site-links li:last-child {
		padding-right: 0;
		margin-right: 0;
	}
	.footer-bottom-row .holder {
		flex-direction: column-reverse;
		gap: 80px 0;
	}
	.footer-bottom-row .banner-newsletter-outer .title p {
		text-align: center;
	}
	.sticky .logo {
		width: 100px;
	}
	.payment-process-card {
		max-width: 100%;
	}
	.modal-body {
		padding: 0 30px 60px;
	}
	.modal-header {
		padding: 30px 30px;
	}
	.payment-summary-data {
		padding: 30px;
	}
	.payment-form-outer .row .row [class*="col-"] {
		margin-bottom: 16px;
	}
	.payment-form-outer
		.custom-checkbox-holder
		input[type="checkbox"]
		+ span
		+ em {
		display: inline-block;
	}
	.payment-form-outer .label-holder {
		flex-direction: column;
		align-items: flex-start !important;
		gap: 10px 0;
	}
}
